<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Tutorial of Thymeleaf</title>
</head>
<body>
	<h1 th:text="#{title}">Thymeleaf Page</h1>
	<h2 th:text="#{subtitle01}"></h2>
	<p th:text="#{message}"></p>
	<p th:if="${previous} != null" th:text="'入力された値は「' + ${previous} + '」です。'"></p>
	<p th:unless="${previous} == null" ></p>
	<form method="post" action="/output">
		<input type="text" name="val">
		<button type="submit">送信</button>
	</form>
</body>
</html>